<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue</title>
	</head>
	<body>
		<!--首先创建一个视图容器-->
		<div id="app">
			<h1 v-text="name">ascasc</h1>
			<input type="checkbox" v-model="isbool" />
			<input type="text" v-model="title" /><br />
			{{title}}
		</div>
		<!--引入模板编译器-->
		<script src="js/Template.js"></script>
		<!--引入 自定义的Vue框架-->
		<script src="js/Vue.js"></script>
		<!--编写脚本-->
		<script>
			//实例化一个Vue对象
			const vm = new Vue({
				//挂载视图
				el: '#app',
				//定义数据
				data: {
					name: 'ljw',
					title: '浅谈vue实现方式',
					isbool: true
				}
			});
		</script>
	</body>
</html>
